@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;600&display=swap');

body {
  font-family: 'Hind', sans-serif;
  background-color: vars.$altColor;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
